body {
  background-color: #2B2D23;
  font-family: 'Merriweather Sans', sans-serif;
  color: #EEE;
}

h1 {
  font-size: 300%;
}

h2 {
  margin-top: 30px;
  font-size: 200%;
  color: #8CCFB7;
}

#header {
  margin-top: 40px;
}

a, a:hover, a:visited {
  color: #EEE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#nav {
  margin-top: 20px;
}

#nav a {
  color: #F3E282;
}

#content {
  margin-top: 20px;
}

#content a {
  color: #F3E282;
}

strong {
  color: #EE5856;
  font-weight: bold;
}

p {
  padding-top: 20px;
  padding-left: 40px;
}

.shell {
  padding-top: 20px;
  padding-left: 40px;
  font-family: "Droid Sans Mono", "Monaco", "Courier New", monospace;
}

.shell .path {
  color: #8CCFB7;
}

.shell .prompt {
  color: #EE5856;
}

.shell .command {
  color: #BDD96A;
}

.highlighttable {
  margin-top: 20px;
  margin-left: 20px;
}

.highlight {
  margin-left: 10px;
  padding: 10px;
  font-family: "Droid Sans Mono", "Monaco", "Courier New", monospace;
}
