body {
  background-color: #2B2D23;
  font-family: 'Merriweather Sans', sans-serif;
  color: #EEE;
}

h1 {
  font-size: 300%;
}

#header {
  position: relative;
  margin-top: 40px;
}

a, a:hover, a:visited {
  color: #EEE;
  text-decoration: none;
}

#nav {
  margin-top: 20px;
}

#nav a {
  color: #F3E282;
  text-decoration: none;
}

#nav a:hover {
  color: #8CCFB7;
}

#content {
  margin-top: 20px;
}
