<ul>
    <li><a href="{{ site.url }}/docs/installation.html">Installation</a></li>
    <li><a href="{{ site.url }}/docs/basic-usage.html">Basic Usage</a></li>
    <br />
    <li><a href="{{ site.url }}/docs/systems.html">Systems</a></li>
    <li><a href="{{ site.url }}/docs/components.html">Components</a></li>
    <li><a href="{{ site.url }}/docs/entities.html">Entities</a></li>
    <br />
    <li><a href="{{ site.url }}/docs/api.html">API</a></li>
    <ul>
        <li><a href="{{ site.url }}/docs/api-use.html">use</a></li>
        <li><a href="{{ site.url }}/docs/api-create.html">create</a></li>
        <li><a href="{{ site.url }}/docs/api-add.html">add</a></li>
        <li><a href="{{ site.url }}/docs/api-get.html">get</a></li>
        <li><a href="{{ site.url }}/docs/api-remove.html">remove</a></li>
        <li><a href="{{ site.url }}/docs/api-getall.html">getAll</a></li>
    </ul>
</ul>
