<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.url }}/css/reset.css">
        <link rel="stylesheet" href="{{ site.url }}/css/unsemantic.css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    </head>
    <body>
        <div class="grid-container" id="header">
            <div class="grid-50">
              <h1>
                <a href="{{ site.url }}/">whirlibulf</a>
              </h1>
            </div>
        </div>

        <div class="grid-container" id="nav">
            <div class="grid-20">
                <a href="{{ site.url }}/docs/getting-started.html">Getting Started</a>
            </div>
            <div class="grid-20">
                <a href="{{ site.url }}/docs/index.html">Documentation</a>
            </div>
            <div class="grid-20">
                <a href="https://github.com/whirlibulf/engine">Github</a>
            </div>
        </div>

        <div class="grid-container" id="content">
            <div class="grid-100">
                {{ content }}
            </div>
        </div>
    </body>
</html>
